# OS

.DS_Store

Thumbs.db



# Node

node_modules/

dist/

*.log



# Python

__pycache__/

.env

.venv/



# .NET

bin/

obj/

*.user

*.suo



# Ruby

.bundle/

vendor/bundle/



# Misc

coverage/

.env.local

.idea/

.vscode/


